//
//  Debug.xcconfig.template
//  Hilingual
//

BASE_URL = __BASE_URL_DEBUG__
MASTERKEY = __MASTERKEY__
AMPLITUDE_API_KEY = __AMPLITUDE_API_KEY__
GAD_APPLICATION_IDENTIFIER = __GAD_APPLICATION_IDENTIFIER_DEBUG__
AD_BANNER_UNIT_ID = __AD_BANNER_UNIT_ID_DEBUG__
AD_NATIVE_UNIT_ID = __AD_NATIVE_UNIT_ID_DEBUG__
AD_FEEDBACK_UNIT_ID = __AD_FEEDBACK_UNIT_ID_DEBUG__
AD_INTERSTITIAL_UNIT_ID = __AD_INTERSTITIAL_UNIT_ID_DEBUG__
